{% extends "principal.html" %}

{% block cabecera %}
    <br><h2 class="cabecera">Esto es Lista de tareas</h2><br>
{% endblock cabecera %}

{%block contenido%}
        {% for tarea in tareas_mostrar %}
            <div>
                {%include "tarea/listaadjunta.html"%}

                <h2>Usuarios</h2>
                <ul>
                    {% for usuario in tarea.usuario.all%}
                        <li>{{usuario.nombre}}</li>
                    {%empty%}
                        <h1>Lo sentimos, no hay usuarios</h1>
                    {%endfor%}
                </ul>
                
            </div>
        {%empty%}
            <h1>Lo sentimos, no hay tareas</h1>
        {% endfor %}
{%endblock%}