{% extends "principal.html" %}

{% block cabecera %}
    <br><h2 class="cabecera">Esto son proyectos por fecha</h2><br>
{% endblock cabecera %}

{%block contenido%}
        {% for completados in dame_proyectos_completados %}
            <div>
                <h2>titulo: {{completados.titulo}}</h2>
                <h2>Descripcion: {{completados.descripcion}}</h2>
                <h2>fecha_creacion: {{completados.fecha_creacion}}</h2>
                <h2>Estado: {{completados.estadio}}</h2>
            </div>
        
        {% endfor %}
{%endblock%}