{% extends "principal.html" %}

{% block cabecera %}
    <br><h2 class="cabecera">Esto es Lista de tareas por fecha</h2><br>
{% endblock cabecera %}

{%block contenido%}
        {% for tarea in tarea_fecha %}
            <div>
                <h2>Observaciones: {{tarea.observaciones}}</h2>
                <h2>fecha publicacion: {{tarea.fecha_asignacion}}</h2>
                
                <h2>Usuarios</h2>
                <ul>
                    {% for usuario in proyecto.usuarios.all%}
                        <li>{{usuario.nombre}}</li>
                    {%endfor%}
                </ul>
                
            </div>
        
        {% endfor %}
{%endblock%}