{% extends "principal.html" %}

{% block cabecera %}
    <br><h2 class="cabecera">Esto es Lista de tareas por texto en concreto</h2><br>
{% endblock cabecera %}

{%block contenido%}
        {% for tarea in dame_tareas_escenario %}
            <div>
                <h2>Observaciones: {{tarea.observaciones}}</h2>
                
            </div>
        
            <p>-------------------------------------------------------</p> 
        {%empty%}
            <h1>Lo sentimos no hay tareas</h1>
        {% endfor %}

{%endblock%}