{% extends "principal.html" %}

{% block cabecera %}<br><h2 class="cabecera">Esto es Lista de proyectos</h2><br>{% endblock cabecera %}


{%block contenido%}
        <h1>Proyectos</h1>
        {% for proyecto in lista_proyectos %}
            <div>
                {%include "proyecto/listaadjunta.html"%}
                <ul>
                    {% for usuario in proyecto.usuarios.all%}
                        <li>{{usuario.nombre}}</li>
                    {%endfor%}
                </ul>
                
            </div>
        
        {% endfor %}

{%endblock%}

